@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This app was built for a coding task. You can navigate to <a href="@Url.Action("Index", "Exercise")">Exercise</a> to create a task for client.</p>
</div>
